In [32]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd
import json
from scipy.spatial import distance

In [3]:
data1 = pd.read_csv(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\la1.csv", index_col=0)
data2 = pd.read_csv(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\la2.csv", index_col=0)
data3 = pd.read_csv(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\la3.csv", index_col=0)
data4 = pd.read_csv(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\la4.csv", index_col=0)
data5 = pd.read_csv(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\la5.csv", index_col=0)
data6 = pd.read_csv(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\la6.csv", index_col=0)
data7 = pd.read_csv(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\la7.csv", index_col=0)

In [6]:
df = pd.concat([data1, data2, data3, data4, data5, data6, data7])

index = list(range(len(df)))

df.index = index

df

,centers,clusters,hour_block,day_of_week
0,"[37.53847639999999, 126.9474018]","[158, 159, 160, 161, 162, 163, 164, 165, 166, ...",f20t24,Thursday
1,"[37.538616850000004, 126.94723301666666]","[171, 179, 180, 181, 182, 183, 192, 193, 194, ...",f20t24,Thursday
2,"[37.53325464545454, 126.94988599090911]","[216, 217, 218, 219, 220, 221, 222, 223, 224, ...",f20t24,Thursday
3,"[37.530839900000004, 126.95448706000002]","[0, 1, 232, 233, 234, 235, 236, 237, 238, 239]",f20t24,Thursday
4,"[37.43814688, 127.00081278999998]","[22, 23, 24, 25, 26, 27, 28, 29, 30, 31]",f12t16,Thursday
...,...,...,...,...
78,"[37.53899804375, 126.96892896874999]","[16, 21, 22, 43, 52, 56, 73, 108, 111, 115, 11...",f20t24,Tuesday
79,"[37.53902789117646, 126.96890980588232]","[7, 18, 34, 36, 37, 39, 48, 51, 55, 67, 68, 72...",f16t20,Tuesday
80,"[37.53900008529412, 126.96894021764705]","[15, 17, 35, 44, 49, 53, 54, 57, 60, 65, 69, 9...",f20t24,Tuesday
81,"[37.539054747826086, 126.96893823043477]","[9, 11, 12, 13, 31, 33, 38, 50, 59, 62, 63, 64...",f16t20,Tuesday
82,"[37.539062168421054, 126.96890130526316]","[6, 8, 10, 19, 28, 76, 77, 78, 81, 84, 86, 88,...",f16t20,Tuesday

In [7]:
datalist = []
for i in range(len(df)):
    data = json.loads(df['centers'].iloc[i])
    datalist.append(data)
datalist

latitude = [pair[0] for pair in datalist]
longitude = [pair[1] for pair in datalist]

df['latitude'] = latitude
df['longitude'] = longitude

df

,centers,clusters,hour_block,day_of_week,latitude,longitude
0,"[37.53847639999999, 126.9474018]","[158, 159, 160, 161, 162, 163, 164, 165, 166, ...",f20t24,Thursday,37.538476,126.947402
1,"[37.538616850000004, 126.94723301666666]","[171, 179, 180, 181, 182, 183, 192, 193, 194, ...",f20t24,Thursday,37.538617,126.947233
2,"[37.53325464545454, 126.94988599090911]","[216, 217, 218, 219, 220, 221, 222, 223, 224, ...",f20t24,Thursday,37.533255,126.949886
3,"[37.530839900000004, 126.95448706000002]","[0, 1, 232, 233, 234, 235, 236, 237, 238, 239]",f20t24,Thursday,37.530840,126.954487
4,"[37.43814688, 127.00081278999998]","[22, 23, 24, 25, 26, 27, 28, 29, 30, 31]",f12t16,Thursday,37.438147,127.000813
...,...,...,...,...,...,...
78,"[37.53899804375, 126.96892896874999]","[16, 21, 22, 43, 52, 56, 73, 108, 111, 115, 11...",f20t24,Tuesday,37.538998,126.968929
79,"[37.53902789117646, 126.96890980588232]","[7, 18, 34, 36, 37, 39, 48, 51, 55, 67, 68, 72...",f16t20,Tuesday,37.539028,126.968910
80,"[37.53900008529412, 126.96894021764705]","[15, 17, 35, 44, 49, 53, 54, 57, 60, 65, 69, 9...",f20t24,Tuesday,37.539000,126.968940
81,"[37.539054747826086, 126.96893823043477]","[9, 11, 12, 13, 31, 33, 38, 50, 59, 62, 63, 64...",f16t20,Tuesday,37.539055,126.968938
82,"[37.539062168421054, 126.96890130526316]","[6, 8, 10, 19, 28, 76, 77, 78, 81, 84, 86, 88,...",f16t20,Tuesday,37.539062,126.968901

In [8]:
new_data = []
for item in df['hour_block']:
    # "f"와 "t"를 제외한 나머지 부분을 추출하여 숫자로 변환
    num = int(item[1:-3])
    new_data.append(num)

new_data

[20,
 20,
 20,
 20,
 12,
 12,
 16,
 12,
 12,
 16,
 20,
 16,
 16,
 20,
 16,
 16,
 20,
 20,
 0,
 0,
 8,
 8,
 8,
 0,
 12,
 8,
 0,
 8,
 0,
 12,
 12,
 16,
 16,
 12,
 20,
 0,
 0,
 12,
 4,
 0,
 8,
 0,
 0,
 20,
 12,
 20,
 20,
 16,
 16,
 16,
 20,
 16,
 16,
 16,
 16,
 20,
 16,
 20,
 12,
 8,
 12,
 20,
 12,
 12,
 12,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 4,
 4,
 4,
 16,
 20,
 16,
 20,
 16,
 20,
 16,
 16]

In [9]:
df['hour_block'] = new_data

In [10]:
# 요일을 인덱스화

def convert_day_to_number(day):
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    return weekdays.index(day)

In [11]:
df['day_of_week'] = df['day_of_week'].apply(convert_day_to_number)

In [25]:
meaningful_df = df[['latitude', 'longitude', 'hour_block', 'day_of_week']]
meaningful_df

     latitude   longitude  hour_block  day_of_week
0   37.538476  126.947402          20            3
1   37.538617  126.947233          20            3
2   37.533255  126.949886          20            3
3   37.530840  126.954487          20            3
4   37.438147  127.000813          12            3
..        ...         ...         ...          ...
78  37.538998  126.968929          20            1
79  37.539028  126.968910          16            1
80  37.539000  126.968940          20            1
81  37.539055  126.968938          16            1
82  37.539062  126.968901          16            1

[83 rows x 4 columns]

In [16]:
def convert_day_to_number(day):
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    return weekdays.index(day)

In [21]:
def fileReader(filename):

    latitude = []   # 위도
    longitude = []  # 경도
    date = []       # 날짜

    with open(filename, 'r') as file:
        data = file.read()

    # 데이터에 불필요한 부분 제거
    # 추후 데이터 형식에 따라 수정 필요 *
    data = data.split('\n')
    #data = data.split('\n')[6:-1]
    for i in range(len(data)):
        line = data[i].split(',')
        latitude.append(line[0])    # 위도
        longitude.append(line[1])   # 경도
        date.append(line[2])        # 날짜
        #time.append(line[3])        # 시간
        #date.append(line[5])
        #time.append(line[6])
    #df = pd.DataFrame({"latitude":latitude, "longitude":longitude, "date":date, "time":time})
    df = pd.DataFrame({"latitude":latitude, "longitude":longitude, "datetime":date})
    
    df['latitude'] = df['latitude'].astype(float)
    df['longitude'] = df['longitude'].astype(float)
    #df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'], format='%Y-%m-%d %H:%M:%S')
    df['datetime'] = pd.to_datetime(df['datetime'], format=' %Y-%m-%d %H:%M:%S')
    df['datetime'] = df['datetime'].dt.floor('T')
    # 시간대와 요일 추가
    # 시간대 형식 : f00t04 f20t24
    # 4시간 단위로 분리
    df['hour_block'] = 'f' + ((df['datetime'].dt.hour) // 4 * 4).astype(str).str.zfill(2) + 't' + ((df['datetime'].dt.hour + 4) // 4 * 4).astype(str).str.zfill(2)
    df['day_of_week'] = df['datetime'].dt.day_name()
    #df = df.drop(['date', 'time'], axis=1)
    df = df.drop_duplicates(['datetime'], ignore_index=True)

    new_data = []
    for item in df['hour_block']:
        # "f"와 "t"를 제외한 나머지 부분을 추출하여 숫자로 변환
        num = int(item[1:-3])
        new_data.append(num)

    df['hour_block'] = new_data

    df['day_of_week'] = df['day_of_week'].apply(convert_day_to_number)

    df = df[['latitude', 'longitude', 'hour_block', 'day_of_week']]

    return df

In [22]:
location_data5 = fileReader(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\2024-03-14.txt")
location_data2 = fileReader(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\2024-03-15.txt")
location_data3 = fileReader(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\2024-03-16.txt")
location_data5 = fileReader(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\2024-03-17.txt")
location_data5 = fileReader(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\2024-03-18.txt")
location_data6 = fileReader(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\2024-04-08.txt")
location_data7 = fileReader(r"C:\Users\sk002\OneDrive\바탕 화면\새 폴더\2024-04-09.txt")

In [23]:
location_data5

      latitude   longitude  hour_block  day_of_week
0    37.529110  126.953535          12            3
1    37.529110  126.953535          12            3
2    37.529642  126.968263          12            3
3    37.529666  126.968215          12            3
4    37.529665  126.968220          12            3
..         ...         ...         ...          ...
235  37.531493  126.955226          20            3
236  37.531095  126.954920          20            3
237  37.531083  126.954927          20            3
238  37.530230  126.954274          20            3
239  37.529660  126.954315          20            3

[240 rows x 4 columns]

In [36]:
meaningful_df

     latitude   longitude  hour_block  day_of_week
0   37.538476  126.947402          20            3
1   37.538617  126.947233          20            3
2   37.533255  126.949886          20            3
3   37.530840  126.954487          20            3
4   37.438147  127.000813          12            3
..        ...         ...         ...          ...
78  37.538998  126.968929          20            1
79  37.539028  126.968910          16            1
80  37.539000  126.968940          20            1
81  37.539055  126.968938          16            1
82  37.539062  126.968901          16            1

[83 rows x 4 columns]

In [37]:
meaningful_df['latitude'].iloc[0]

37.53847639999999

In [56]:
y = []
for i in range(len(location_data1)):
    current_location = (location_data1['latitude'].iloc[i], location_data1['longitude'].iloc[i])
    min_distance = float('inf')

    for j in range(len(meaningful_df)):
        place_location = (meaningful_df['latitude'].iloc[j], meaningful_df['longitude'].iloc[j])
        dist = distance.euclidean(current_location, place_location)
        if dist < min_distance:
            min_distance = dist
            min_distance_index = j
    y.append(min_distance_index)

location_data1['y'] = y
location_data1

      latitude   longitude  hour_block  day_of_week   y
0    37.529110  126.953535          12            3  59
1    37.529110  126.953535          12            3  59
2    37.529642  126.968263          12            3  48
3    37.529666  126.968215          12            3  48
4    37.529665  126.968220          12            3  48
..         ...         ...         ...          ...  ..
235  37.531493  126.955226          20            3  58
236  37.531095  126.954920          20            3  58
237  37.531083  126.954927          20            3  58
238  37.530230  126.954274          20            3   3
239  37.529660  126.954315          20            3  27

[240 rows x 5 columns]

In [57]:
y = []
for i in range(len(location_data2)):
    current_location = (location_data2['latitude'].iloc[i], location_data2['longitude'].iloc[i])
    min_distance = float('inf')

    for j in range(len(meaningful_df)):
        place_location = (meaningful_df['latitude'].iloc[j], meaningful_df['longitude'].iloc[j])
        dist = distance.euclidean(current_location, place_location)
        if dist < min_distance:
            min_distance = dist
            min_distance_index = j
    y.append(min_distance_index)

location_data2['y'] = y
location_data2

      latitude   longitude  hour_block  day_of_week   y
0    37.529393  126.953807           0            4  41
1    37.528965  126.953625           0            4  26
2    37.529086  126.953560           0            4  61
3    37.529079  126.953547           0            4  39
4    37.529039  126.953511           0            4  43
..         ...         ...         ...          ...  ..
813  37.528975  126.953426          20            4  17
814  37.528975  126.953426          20            4  17
815  37.528975  126.953426          20            4  17
816  37.528975  126.953426          20            4  17
817  37.528975  126.953426          20            4  17

[818 rows x 5 columns]

In [58]:
y = []
for i in range(len(location_data3)):
    current_location = (location_data3['latitude'].iloc[i], location_data3['longitude'].iloc[i])
    min_distance = float('inf')

    for j in range(len(meaningful_df)):
        place_location = (meaningful_df['latitude'].iloc[j], meaningful_df['longitude'].iloc[j])
        dist = distance.euclidean(current_location, place_location)
        if dist < min_distance:
            min_distance = dist
            min_distance_index = j
    y.append(min_distance_index)

location_data3['y'] = y
location_data3

      latitude   longitude  hour_block  day_of_week   y
0    37.528975  126.953426           0            5  17
1    37.528975  126.953426           0            5  17
2    37.528975  126.953426           0            5  17
3    37.528975  126.953426           0            5  17
4    37.528975  126.953426           0            5  17
..         ...         ...         ...          ...  ..
443  37.529027  126.953515          20            5  43
444  37.529027  126.953515          20            5  43
445  37.529055  126.953697          20            5  26
446  37.529055  126.953697          20            5  26
447  37.529055  126.953697          20            5  26

[448 rows x 5 columns]

In [59]:
y = []
for i in range(len(location_data4)):
    current_location = (location_data4['latitude'].iloc[i], location_data4['longitude'].iloc[i])
    min_distance = float('inf')

    for j in range(len(meaningful_df)):
        place_location = (meaningful_df['latitude'].iloc[j], meaningful_df['longitude'].iloc[j])
        dist = distance.euclidean(current_location, place_location)
        if dist < min_distance:
            min_distance = dist
            min_distance_index = j
    y.append(min_distance_index)

location_data4['y'] = y
location_data4

      latitude   longitude  hour_block  day_of_week   y
0    37.529313  126.953754          12            6  41
1    37.530022  126.954384          12            6   3
2    37.530860  126.954764          12            6   3
3    37.531419  126.955154          12            6  58
4    37.531773  126.955422          12            6  58
..         ...         ...         ...          ...  ..
301  37.531181  126.954988          20            6  58
302  37.530610  126.954683          20            6   3
303  37.530456  126.954513          20            6   3
304  37.529734  126.954281          20            6  27
305  37.529382  126.953740          20            6  41

[306 rows x 5 columns]

In [60]:
y = []
for i in range(len(location_data5)):
    current_location = (location_data5['latitude'].iloc[i], location_data5['longitude'].iloc[i])
    min_distance = float('inf')

    for j in range(len(meaningful_df)):
        place_location = (meaningful_df['latitude'].iloc[j], meaningful_df['longitude'].iloc[j])
        dist = distance.euclidean(current_location, place_location)
        if dist < min_distance:
            min_distance = dist
            min_distance_index = j
    y.append(min_distance_index)

location_data5['y'] = y
location_data5

      latitude   longitude  hour_block  day_of_week   y
0    37.529086  126.953526           8            0  23
1    37.528942  126.953576           8            0  42
2    37.528942  126.953576           8            0  42
3    37.528942  126.953576           8            0  42
4    37.528942  126.953576           8            0  42
..         ...         ...         ...          ...  ..
454  37.529082  126.953559          20            0  61
455  37.529082  126.953559          20            0  61
456  37.529082  126.953559          20            0  61
457  37.529046  126.953559          20            0  74
458  37.529046  126.953559          20            0  74

[459 rows x 5 columns]

In [61]:
y = []
for i in range(len(location_data6)):
    current_location = (location_data6['latitude'].iloc[i], location_data6['longitude'].iloc[i])
    min_distance = float('inf')

    for j in range(len(meaningful_df)):
        place_location = (meaningful_df['latitude'].iloc[j], meaningful_df['longitude'].iloc[j])
        dist = distance.euclidean(current_location, place_location)
        if dist < min_distance:
            min_distance = dist
            min_distance_index = j
    y.append(min_distance_index)

location_data6['y'] = y
location_data6

      latitude   longitude  hour_block  day_of_week   y
0    37.529011  126.953489           4            0  20
1    37.529011  126.953489           4            0  20
2    37.529011  126.953489           4            0  20
3    37.529011  126.953489           4            0  20
4    37.529011  126.953489           4            0  20
..         ...         ...         ...          ...  ..
371  37.538573  126.947369          20            0   0
372  37.538582  126.947369          20            0   0
373  37.538582  126.947369          20            0   0
374  37.538582  126.947369          20            0   0
375  37.538585  126.947340          20            0   1

[376 rows x 5 columns]

In [62]:
y = []
for i in range(len(location_data7)):
    current_location = (location_data7['latitude'].iloc[i], location_data7['longitude'].iloc[i])
    min_distance = float('inf')

    for j in range(len(meaningful_df)):
        place_location = (meaningful_df['latitude'].iloc[j], meaningful_df['longitude'].iloc[j])
        dist = distance.euclidean(current_location, place_location)
        if dist < min_distance:
            min_distance = dist
            min_distance_index = j
    y.append(min_distance_index)

location_data7['y'] = y
location_data7

      latitude   longitude  hour_block  day_of_week   y
0    37.538945  126.970588          16            1  15
1    37.539044  126.970461          16            1  15
2    37.538668  126.969568          16            1  15
3    37.539049  126.968979          16            1  56
4    37.538912  126.968766          16            1  16
..         ...         ...         ...          ...  ..
211  37.529070  126.953565          20            1  76
212  37.529070  126.953565          20            1  76
213  37.529070  126.953565          20            1  76
214  37.529070  126.953565          20            1  76
215  37.529057  126.953553          20            1  74

[216 rows x 5 columns]

In [63]:
dataset = pd.concat([location_data1, location_data2, location_data3, location_data4, location_data5, location_data6, location_data7])

dataset

      latitude   longitude  hour_block  day_of_week   y
0    37.529110  126.953535          12            3  59
1    37.529110  126.953535          12            3  59
2    37.529642  126.968263          12            3  48
3    37.529666  126.968215          12            3  48
4    37.529665  126.968220          12            3  48
..         ...         ...         ...          ...  ..
211  37.529070  126.953565          20            1  76
212  37.529070  126.953565          20            1  76
213  37.529070  126.953565          20            1  76
214  37.529070  126.953565          20            1  76
215  37.529057  126.953553          20            1  74

[2863 rows x 5 columns]

In [64]:
index = list(range(len(dataset)))

dataset.index = index

dataset

       latitude   longitude  hour_block  day_of_week   y
0     37.529110  126.953535          12            3  59
1     37.529110  126.953535          12            3  59
2     37.529642  126.968263          12            3  48
3     37.529666  126.968215          12            3  48
4     37.529665  126.968220          12            3  48
...         ...         ...         ...          ...  ..
2858  37.529070  126.953565          20            1  76
2859  37.529070  126.953565          20            1  76
2860  37.529070  126.953565          20            1  76
2861  37.529070  126.953565          20            1  76
2862  37.529057  126.953553          20            1  74

[2863 rows x 5 columns]